<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/buttons.css') }}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/attendance.css') }}"
  />
  <title>Attendance not Started!</title>
</head>
<body>
  <h1>Attendance has not started yet !</h1>
  <h2>You will be redirected to the main page automatically</h2>
  <script>
    setTimeout(function(){
        window.location.href = '{{url_for('index')}}';
    }, 2000);
  </script>
</body>
</html>
