<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/login.css') }}"
  />
  <title>Register</title>
</head>
<body>
  <div class="login-block">
    <h1>Register</h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }} {{ form.username }} {{ form.First_Name }} {{
      form.Last_Name }} {{ form.email_id }} {{ form.password }} {{
      form.submit(class="submit") }}
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <span>{{ message }}</span>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</body>
</html>
